{% extends "bootstrap/base.html" %}

{% block title %}TCP File Transfer{% endblock %}
{% block content %}


<!-- <form style="margin:50px"> -->
  <div style="margin:50px" class="form-group">
    <label for="fileName">File:</label>
    <input class="form-control" id="fileName" placeholder="File Name">
  </div>
  <div style="margin:50px" class="form-group">
    <label for="ip">IP Address of Receiver:</label>
    <input class="form-control" id="ip" placeholder="0.0.0.0">
  </div>
   <div style="margin:50px" class="form-group row">
    <div class="col-sm-10">
      <button onclick="sendFile();" class="btn btn-primary">Send File</button>
    </div> 
   </div>
    <!-- </form> -->




{% endblock %}
{% block scripts %}
{{ super() }}
<script>
function sendFile(){

    var fileName = document.getElementById("fileName").value;
    var ip = document.getElementById("ip").value;
    var fetchURL = `${window.origin}/send/`+fileName+'/'+ip;
    
    fetch(fetchURL, {
        method: "POST",
        credentials: "include",
        cache: "no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    })
}
</script>
{% endblock %}
