{% extends "bootstrap/base.html" %}

{% block title %}TCP File Transfer{% endblock %}
{% block content %}


<form style="margin:50px">
  <div class="form-group">
    <label for="fileName">File:</label>
    <input class="form-control" id="fileName" placeholder="File Name">
  </div>
  <div class="form-group">
    <label for="ip">IP Address of Receiver:</label>
    <input class="form-control" id="ip" placeholder="0.0.0.0">
  </div>
   <div class="form-group row">
    <div class="col-sm-10">
      <button onclick="sendFile();" class="btn btn-primary">Send File</button>
    </div> </div>
</form>




<script>
function sendFile(){
    var fileName = document.getElementById("fileName").value;
    var ip = document.getElementById("ip").value;

    fetch(`${window.origin}/send/`+fileName+'/'+ip, {
        method: "POST",
        credentials: "include",
        cache: "no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    })
}
</script>
{% endblock %}
